{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/722c5ad8e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/CSS/Add Inventory 5.css' %}">
    <body style="background-image: url('{% static "Media/GrayBG.jpg"%}');">
    <title>Inventory Form</title>
</head>
<script src="C:\Users\Daryl PC\Desktop\elective2\sampleApp\static\js\Cash Register 3.js"></script>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <ul class="navbar-nav">
            <li class="navbar-brand">
                <img src="{% static 'Media/Yoshikage Kira.png' %}" class="rounded-circle" alt="logo" width="50px;">
            </li>
            <li class="navbar-brand">
                Inventory and Cash Register
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'inventory' %}">Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'CashRegister' %}">Cash Register</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Login' %}">Log Out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col" id="col1">
                <form name="addinvitem" method="post">
                    
                    <div class = "invform">
                        {% csrf_token %}
                        <h4 class="form-inline justify-content-center p-4">Add Item Form:</h4>
                        <div class = "form-inline p-4">
                            <label for = "ItemName">Item Name:</label>
                            <input type = "text" class="ml-auto" id = "ItemName" name = "ItemName"><br>
                        </div>
                        {{form.Item}}
                        <div class = "form-inline p-4">
                            <label for = "ProductCode">Product Code:</label>
                            <input type = "text" class="ml-auto" id = "ProductCode" name = "ProductCode"><br>
                        </div>
                        {{form}}
                        <div class = "form-inline p-4">
                            <label for = "Stocks">Stocks:</label>
                            <input type = "text" class="ml-auto" id = "Stocks" onkeypress="return isNumber(event)" name = "Stocks"><br>
                        </div>
                        {{form}}
                        <div class = "form-inline p-4">
                            <label for = "Price">Price (₱):</label>
                            <input type = "text" class="ml-auto" id = "Price" onkeypress="return isNumber(event)" name = "Price"><br>
                        </div>
                        {{form}}
                        <div class = "form-inline p-4">
                            <button type = "submit" class="ml-auto" onclick="addinv(); return f">Submit Item</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
