{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Delete "{{Cash3}}"?</p>
    <form action="{% url 'delete3' Cash3.id %}" method="POST">
        {% csrf_token %}
        <a <button class="btn btn-dark" href="{% url 'CashRegIframe' %}" type="button">Cancel</a>
        <input type="submit" name="Confirm">

    </form>
</body>
</html>