{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/722c5ad8e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/CSS/Log-in 1.css' %}">
    <body style="background-image: url('{% static "Media/GrayBG.jpg"%}');">
    <title>Inventory and Cash Register</title>
</head>
<body>
    <div class="containter-lg p-5 mt-3">
        <div class="row justify-content-center">
                <div class="login">
                    <img src="{% static 'Media/Yoshikage Kira.png' %}" class="rounded-circle" alt="Kira" width="60%">
                    <h3><b>Inventory and Cash Register</b></h3>
                    <h3><b>Member Login</b></h3>
                        <form name="memberlogin" method="POST">
                            
                            <div class="form-group">
                                {% csrf_token %}
                                <label for="username">Username:</label>
                                <input type="text" class="ml-4" name="username" id="username" placeholder="Enter Username" value="" autofocus>
                            </div>
                            <div class="form-group">
                                {% csrf_token %}
                                <label for="password">Password:</label>
                                <input type="password" class="ml-4" name="password" id="password" placeholder="Enter Password" value="" autofocus>
                            </div>
                            {% for message in messages %}
                            <p id="messages">{{message}}</p>
                        {% endfor %}	    
                            <div class="form-group">
                                <input class="btn btn-dark" type="submit" value=" Login">
                                
                            </div>
                            <div class="form-group">
                                <a class="btn btn-dark" href="{% url 'Signup' %}" type="button">Sign Up</a>
                            </div>
                        </form>
                </div>
        </div>
    </div>
</body>
</html>
